@import 'variables.scss';

body {
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

p {
  padding-left: 3px;
 }

.green {
  background-color: rgb(70, 128, 235);
}

