@import 'variables.scss';

body {
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

p {
  padding-left: 3px;
 }

 code {
  font-size: 18px;
  line-height: 2;
}

.green {
  background-color: rgb(28, 172, 28);
}
