<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/menus-min.css">

  <link rel="stylesheet" href="/css/main.css" />
  <title>Yu Blog</title>
  <style>
    .custom-restricted-width {
      /* To limit the menu width to the content of the menu: */
      display: inline-block;
      /* Or set the width explicitly: */
      /* width: 10em; */
    }

    /* Customization to limit height of the menu */
    .custom-restricted {
      height: 160px;
      width: 150px;
      border: 1px solid gray;
      border-radius: 4px;
    }
  </style>
</head>
