<!DOCTYPE html>

<html>

{% include head.html %}

<body>
  <header>
    {% include nav.html %}
  </header>

  <div class="container">

    
    <div class="row">
      <div class="six columns" style="background-color: none">
        <img class="u-max-full-width" src="/img/Lazer.png" alt="">
      </div>
      <div class="six columns" style="background-color: rgb(207, 161, 33);">
        <span>
           <p>
              Порезка изделий из металла на лазерном станке. Толщина металла до 10 мм.
            </p>
        </span>

      </div>

    </div>
    
    
    
    <div class="row">
      <div class="six columns" style="background-color: none">
        <img class="u-max-full-width" src="/img/kozja-morda.jpg" alt="">
      </div>
      <div class="six columns" style="background-color: rgb(207, 161, 33);">
        <span>
           <p>
              {{ content }}
            </p>
        </span>

      </div>

    </div>

  </div>



  {% include footer.html %}



</body>

</html>
