<!DOCTYPE html>

<html>

{% include head.html %}

<body>
  <header>
    {% include nav.html %}
  </header>

  <div class="container">

    <div class="row">
      <div class="six columns" style="background-color: blue;">
        <img class="u-full-width" src="//via.placeholder.com/250x150" alt="">
      </div>
      <div class="six columns" style="background-color: rgb(207, 161, 33);">


            <p>
              {{ content }}
            </p>





      </div>

    </div>

  </div>



  {% include footer.html %}



</body>

</html>
